<h1 class="h3 mb-4 text-gray-800">Master Data Booking</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">List Booking</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table
                class="table table-bordered"
                id="dataTable"
                width="100%"
                cellspacing="0"
            >
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Date</th>
                        <th>Property Name</th>
                        <th>Customer</th>
                        <th>Bank</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% booking.forEach((item, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td>
                                <%= Intl.DateTimeFormat("id-ID").format(item.startDate) %> - <%= Intl.DateTimeFormat("id-ID").format(item.endDate) %>
                            </td>
                            <td><%= item.propertyId.name %></td>
                            <td><%= item.customerId.firstName %> <%= item.customerId.lastName %></td>
                            <td><%= item.bankId.name %></td>
                            <td><%= item.payment.status %></td>
                            <td>
                                <a href="/admin/bookings/<%= item._id %>" class="btn btn-sm btn-success">
                                    Detail
                                </a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
